<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">


  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/dev.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Strona Głowna</a></li>
          <li><a href="./works.html" title="">Projekty</a></li>
          <li><a href="./about.html" title="">Edukacja</a></li>
          <li><a href="./contact.html" title="">Kontakt</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Projekty</h1>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">

                    <div class="col-sm-4">
                      <a href="https://wx0000.github.io/SushiGreen/" target="_blank" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work01.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/004</h4>
                        <h3>SushiMenu SPA</h3>
                        <p>javaScript, html5, css3</p>
                        <a href="https://wx0000.github.io/SushiGreen/" target="_blank" title="" class="btn btn-default">Zobacz</a>
                      </div>
                    </div>

                  <div class="col-sm-4">
                    <a href="http://wx0000.pythonanywhere.com/" target="_blank" class="black-image-project-hover">
                      <img src="./static/assets/images/work02.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>002/004</h4>
                      <h3>Portfolio Website</h3>
                      <p>python, html, css</p>
                      <a href="http://wx0000.pythonanywhere.com/" target="_blank" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                    <div class="col-sm-4">
                      <a href="https://wx0000.github.io/369-Collective/" target="_blank" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work03.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/004</h4>
                        <h3>TattooShop SPA</h3>
                        <p>javaScript, html5, css3</p>
                        <a href="https://wx0000.github.io/369-Collective/" target="_blank" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
            </div>
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="https://github.com/wx0000/VinylShop" target="_blank" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work04.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>004/004</h4>
                        <h3>VinylShop SPA</h3>
                        <p>javaScript, html5, css3</p>
                        <a href="https://github.com/wx0000/VinylShop" target="_blank" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>- Wiktor Szaroń | CV -</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>